body {
  background-image: url("images/holiday1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Mountains of Christmas", serif;
  font-weight: 700;
  font-style: normal;
  color: #3f4636;
}

a {
  color: #932421;
}

a:visited {
  color: #93a08d;
}

.box {
  background-color: #dedfe4;
  display: flex;
  flex-direction: column;
  border-style: groove;
  border-color: #3f4636;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 40px 80px rgba(65, 50, 100, 0.2);
  max-width: 800px;
  max-height: 600px;
  min-width: 700px;
  min-height: 400px;
  margin: 0 auto;
}

header {
  display: flex;
  border-style: groove;
  border-color: #3f4636;
  font-size: 16px;
  padding: 10px;
  width: 96%;
  border-radius: 8px;
  justify-content: space-between;
  align-items: center;
}

.searchForm {
  display: flex;
  align-items: center;
  width: 60%;
}

h1 {
  text-align: right;
}

.searchInput {
  border-style: none;
  width: 80%;
  padding: 24px;
  margin: 8px;
  border-radius: 8px;
}

.searchButton {
  background-color: #932421;
  color: white;
  border: none;
  padding: 16px 12px;
  border-radius: 16px;
  cursor: pointer;
  font-size: 1rem;
  margin: 8px;
}
.searchButton:hover {
  background-color: #93a08d;
}

.weatherAppData {
  display: flex;
  justify-content: space-between;
}

.city {
  margin: 20;
  font-size: 44px;
  line-height: 48px;
}

.leftSide {
  font-size: 20px;
  line-height: 32px;
}

.humidity {
  color: #ed4d45;
  font-size: 24px;
}

.windSpeed {
  color: #ed4d45;
  font-size: 24px;
}

.rightSide {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-right: 24px;
}

.icon {
  font-size: 44px;
}

.temperature {
  font-size: 60px;
}

.temperatureUnit {
  font-size: 24px;
}

.forecast {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.forecastDay {
  background-color: #93a08d;
  border-style: groove;
  border-color: #3f4636;
  padding: 12px;
  border-radius: 12px;
  width: 100px;
  margin: 5px 0;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hiTemp {
  color: #932421;
}

.lowTemp {
  color: #ed4d45;
  opacity: 0.6;
}

footer {
  border-top: 1px solid #3f4636;
  padding: 24px 0px 0px 0px;
  text-align: center;
  font-size: 12px;
  margin-top: auto;
}
